<span class="px-3"><%= link_to "Home", root_path %></span>

<div class="container p-3 rounded-5">
  <nav class="navbar navbar-dark bg-dark justify-content-between rounded-top-5">
    <div class="d-flex w-100">
      <span class="navbar-brand p-3"><%= @list.name %> (<%= @list.bookmarks.count %>)
      </span>
      <div class="d-flex align-items-center ms-auto">
        <a class="py-3 navbar-brand" href="" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAdd" ><i class="fa-solid fa-plus"></i> Add movie</a>
        <a class="ms-3 py-3 navbar-brand" href="" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEdit" ><i class="fa-solid fa-pen"></i> Edit list</a>
      </div>
    </div>
  </nav>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasAdd">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Add a movie</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <div class="container p-0 mt-3">
        <div class="p-3">
          <%= simple_form_for([@list, @bookmark]) do |f| %>
              <%= f.input :movie, collection: @list.movies_not_in_list %>
              <%= f.input :comment %>
              <%= f.submit "Add"%>
            <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasEdit">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Edit your list</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div><%= render 'lists/list_form', list: @list %></div>
    </div>
</div>

<div class="row mb-2">
  <div class="col">
    <% if @list.photo.present? %>
      <%= cl_image_tag @list.photo.key, width: 2000, height: 300, crop: :fill, class: "img-fluid" %>
    <% end %>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="col">
    <div class="card h-100">
      <%= image_tag bookmark.movie.poster_url, class:"card-img-top", alt: bookmark.movie.poster_url %>
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.overview %></h5>
        <p class="card-text">(Comment: <%= bookmark.comment %>)</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <small class="text-muted">Rating: <%= bookmark.movie.rating %></small>
        <span class="badge bg-primary rounded-pill"><%= link_to bookmark_path(bookmark), data: {turbo_method: :delete} do %>
          <i class="fa-regular fa-trash-can" style="color:white"></i>
          <% end %></span>
      </div>
    </div>
  </div>
  <% end %>
</div>
